<!DOCTYPE html>
html lang="en"
    head
        title - Marko Templating Engine Demo
    body
        h1 - Hello ${data.greetingName}!
        ul if(notEmpty(data.colors))
            li for(color in data.colors)
                ${color}
        div else
            - No colors!
